<!DOCTYPE html>
<html>
  <head>
    <title>Todoリスト</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./main.css" />
  </head>

  <body>
    <div id="app" class="container">
        <h1>Todo List</h1>

        <div v-if="!isEditing">
            <input type="text" v-model="todo">
            <input type="submit" value="追加" @click="storeTodo" class="update">
        </div>
        <div v-else>
            <input type="text" v-model="todo">
            <input type="submit" value="更新" @click="updateTodo">
        </div>

        <ol>
            <li v-for="(todo, index) in todos">
                {{ todo.text }}
                <button @click="editTodo(index, todo)">編集</button>
                <button @click="removeTodo(index)">削除</button>
            </li>
        </ol>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./main.js"></script>
  </body>
</html>
